<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    <title>Metar Map | Connectivity settings</title>
</head>
<body>
    <h1>METAR map</h1>
    <h2>Connectivity settings</h2>
    <h3>WiFi</h3>
    <p><span style="color: var(--del-color)">Warning:</span> If no valid network is left in this list, the map will cease to function and initial setup will need to be repeated.</p>
    <form method="post" id="add">
        <table id="wifi_list">
            <tr>
                <th>Network name (SSID)</th>
                <th>Password</th>
                <th></th>
            </tr>
            {% for network in networks %}
            <tr>
                <td>{{ network['ssid'] }}</td>
                <td>******</td>
                <td>
                    <div class="fake_button" style="background-color: var(--del-color); border:none" onclick="delete_ssid('{{ network['ssid'] }}')">Delete</div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <input type="text" name="add_ssid">
                </td>
                <td>
                    <input type="password" name="add_password">
                </td>
                <td>
                    <div class="fake_button" style="background-color: var(--primary);" onclick="document.getElementById('add').submit()">&nbsp;&nbsp;Add&nbsp;&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span  class="note">Only 2.4GHz WiFi using WPA encryption is supported</span>
                </td>
            </tr>
        </table>
    </form>
    <form method="post" id="delete">
        <input type="hidden" value="" name="delete_ssid">
    </form>
    <h3>Email</h3>
    <form method="post">
        <table>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" value="{{ email }}"></td>
                <td>
                    <button>Update</button>
                </td>
            </tr>
        </table>
    </form>
    {% if changes_made %}
        <div>
            <p>For these changes to take effect, please reboot the map</p>
            <a href="/reboot" role="button">Reboot</a>
        </div>
    {% endif %}
</body>
<script type="text/javascript">
    function delete_ssid(ssid) {
        console.log()
        document.getElementsByName('delete_ssid')[0].value = ssid;
        document.getElementById('delete').submit()
    }
</script>
</html>